@{
    ViewData["Title"] = "The Joel Hilton Film Collection";

}

@* Title for the Joel Hilton website *@
<h1>The Joel Hilton Film Collection</h1>
<br /><br />
@* beautiful image of joel hilton use the src feature *@
<img src="~/img/JoelHiltonHeadshot.jpg" height="500" />

<br />