
@{
    ViewData["Title"] = "Podcast";
}
<h1>Check out my podcast by hitting the link below!</h1>

@* href that takes the user to the Baconsale website *@

<a href="https://baconsale.com/">Baconsale</a>